---
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
import Posts from "../mocks/Posts.json";
---

<Layout pageTitle="Pagina Principal">
  <h1 class="text-center text-4xl my-10 font-bold">Blog minimalista</h1>
  <section
    class="flex flex-col p-5 items-center justify-center min-h-screen select-none"
  >
    <div class="grid xl:grid-cols-4 md:grid-cols-3 gap-5">
      {Posts.map((post) => <PostCard {...post} />)}
    </div>
  </section>
</Layout>
